@import url(normalize.css);
@import url(reset.css);
@import url(variables/global.css);
@import url(themes/light.css);
@import url(themes/dark.css);
@import url(themes/orange.css);


body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;

  color: var(--primary-color);
  background-color: var(--bg-color);
}

.content-page {
  display: grid;
  grid-template-columns: auto 1fr;
}

.page-wrapper {
  overflow-y: auto;

  height: calc(100vh - var(--navbar-height));
  padding: 20px 20px 20px 45px;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; 

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;

  white-space: nowrap !important; 
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  overflow: visible !important;
  clip: auto !important;

  width: auto !important;
  height: auto !important;
  margin: auto !important;

  white-space: normal !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}